html{
cursor: url(biocur.cur), auto;
}

body{
background: black;
font-family: ms gothic;
color: white;
}

.epic{
position: fixed;
bottom: 0px;
right: 0px;
}

.kaodiv{
position: fixed;
bottom: 15px;
right: 5px;
}
