html{
cursor: url(biocur.cur), auto;
}

body{
background: black;
font-family: ms gothic;
color: white;
}

.epic{
position: fixed;
bottom: 0px;
right: 0px;
}

.kaodiv{
position: fixed;
bottom: 15px;
right: 5px;
}

.c1{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header header header" "left mid right" "footer footer footer";
  justify-content: center;
  width: 750px;
  grid-gap: 0px;
}
