html{
cursor: url(biocur.cur), auto;
}

body{
background: black;
font-family: ms gothic;
color: white;
}

h1{
font-size: 25px;
}

p{
font-size: 15px;
}

h3{
font-size: 20px;
}

.epic{
position: fixed;
bottom: 0px;
right: 0px;
}

.kaodiv{
position: fixed;
bottom: 75px;
left: 5px;
}

.c1{
display: grid;
grid-template-columns: auto 1fr;
grid-template-areas: "header header header" "left mid right" "footer footer footer";
justify-content: center;
width: 750px;
grid-gap: 0px;
}

.mid{
width: 750px;
height: 500px;
grid-area: mid;
border: solid 1px;
border-color: white;
border-radius: 10px;
}

.left{
width: 120px;
height: 500px;
grid-area: left;
border: solid 1px;
border-color: white;
border-radius: 10px;
}

.right{
width: 120px;
height: 500px;
grid-area: right;
border: solid 1px;
border-color: white;
border-radius: 10px;
}

.marq{
width: 1000px;
grid-area: header;
}

.blinkie{
width: 175px;
}

.stamp{
width: 200px;
}
